html{ background-color: black;}

body {
 
  background-color: #04000B
  ;
  /*background-image: url(/imagenes/mart11111.jpg);
  background-size:contain;
  margin: 0%;*/
  

}

img {
  width: 100%;

}

/* HEADER-----------------------------------------------*/


header {
  background-color: #000000;
  height: 100px;
  position:sticky;
  
  opacity: 0.9;
}
#container-header{
width: 100%;


  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
 
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  z-index: 1000;
  top:0;
  
}
.logo {
  width: 150px;
  height: 60px;
  margin-left: 20px;

}

.change {
  display: none;
}


li {margin: 10px;
  list-style: none;
  font-family: 'Barlow Condensed', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
  transition: all .10s ease;
  color: white;
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .3s;
  color: white;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  }  
  a:hover, a:focus {
    background-size: 100% 1px;
}


ul{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.icon-menu{
  color: white;
  font-size: 40px;
  display: none!important;
}




#container-nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;

}


.nav-anchor {
  font-size: 18px;
}



/*----reg-----*/




.container {
  background-image: url(/imagen/NUE/header_servicios.jpg);
 background-attachment: fixed;

  background-size: cover;
}
.card {
  margin-top: 80px;
  opacity: 0.8;
}

.w-100 {

}
.fw-bold {font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
  font-weight: 500 }




/*footer-----------------------------*/

footer {
  background-image: url(/imagen/NUE/fondofooter.png);
  
}

.columnalink {display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 40%;
margin-top: 50px;
}
.list-unstyled {
  flex-direction: column;
}





/*RESPONSIVE--------------------------------------------*/


@media (max-width: 750px){
  ul {
      display: none;
  }
  li{
      width: 100%;
      text-align: center;
  }

  .icon-menu {
      display: inline-block!important;
  }
  
  .change:checked ~ ul {
      display: inline-block!important;
  }

  .container-section1 {
    
    flex-direction: column;
  }

.parrafo-1 { font-size: 20px;}

.bot-1 {flex-wrap: wrap;}

#container-section3 {
  flex-direction: column;
}

.icons-im {flex-direction: column;
}

#container-section4 {flex-direction: column;
align-items: none;}

.contenedor-imagenes {flex-direction: column;
  flex-wrap: wrap;
align-items: center;}

h4 { text-align: center;}

.card {
  width: none;
}


.contim {flex-direction: column;
  flex-wrap: wrap;
align-items: center;}


h3 { text-align: center;}




}

